/* AddBulkMedicationUnitPage.css */

.add-bulk-medication-unit-page {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

.add-bulk-medication-unit-page h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-size: 1.8em;
}

.medication-info {
    margin-bottom: 20px;
}

.medication-info h3 {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 10px;
}

.medication-info p {
    margin: 5px 0;
    color: #555;
}

.medication-image {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin: 0 auto 15px;

}

.add-bulk-medication-unit-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.form-group input,
.form-group .react-datepicker-wrapper,
.form-group .react-datepicker__input-container input {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

.form-group input[type="number"] {
    appearance: textfield; /* Hide number spinner */
}

.form-group input:focus,
.form-group .react-datepicker__input-container input:focus {
    border-color: #007bff;
    outline: none;
}

.submit-button {
    width: 100%;
    padding: 12px;
    font-size: 1em;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

