/* Main Container */
.add-bulk-medication-unit-page {
    font-family: Arial, sans-serif;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background-color: #f4f6f9;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Header */
.add-bulk-medication-unit-page h2 {
    font-size: 1.8rem;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

/* Medication Info Section */
.medication-info {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

.medication-info h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
}

.medication-info p {
    font-size: 1rem;
    color: #555;
    margin: 5px 0;
}

/* Medication Image */
.medication-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
}

/* Medication Units Table */
.medication-unit-table {
    width: 100%;
    overflow-x: auto;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.medication-unit-table table {
    width: 100%;
    border-collapse: collapse;
}

.medication-unit-table th,
.medication-unit-table td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #e0e0e0;
    font-size: 0.9rem;
    color: #333;
}

.medication-unit-table th {
    font-weight: bold;
    background-color: #f8f9fa;
}

.medication-unit-table tbody tr:nth-child(even) {
    background-color: #f4f6f9;
}

.medication-unit-table p {
    text-align: center;
    font-size: 1rem;
    color: #555;
    margin: 15px 0;
}


.error-message {
    color: white;
    background-color: #dc3545;
}

.success-message {
    color: #ffffff;
    background-color: #28a745;
}
