

.error-message {
    color: #ffffff;
    background-color: #dc3545;
}

.success-message {
    color: #ffffff;
    background-color: #28a745;
}

.delete {
    background-color: #ffc107; /* Yellow */
}

.error-message,
.success-message {
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 4px;
    font-weight: bold;
}