.intake-creation-container {
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



.medication-info {
    margin-bottom: 20px;
}



.medication-image {
    width: 100px;
    height: auto;
    border-radius: 4px;
    margin-bottom: 10px;
}

.form-group {
    margin-bottom: 15px;
}

.unit-select, .search-input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.patient-list {
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
}

.patient-item {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    transition: background-color 0.3s;
}

.patient-item:last-child {
    border-bottom: none;
}

.patient-item:hover, .patient-item.selected {
    background-color: #e6f7ff;
}


.submit-button {
    width: 100%;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #2980b9;
}